# Question-1:

In [2]:
# importing pandas
import pandas as pand

#version checking
print(pand.__version__)

0.25.1

# Question-2:

In [17]:
Information = {
    "Name":"Vimal",
    "Class":"Class 10",
    "Age":16,
    "Gender":"Male",
    "Degree":"MPC"
}
print(Information)

{'Name': 'Vimal', 'Class': 'Class 10', 'Age': 16, 'Gender': 'Male', 'Degree': 'MPC'}

# Question-3:

In [21]:
import pandas as pand
print(pand.Series(Information))

Name         Vimal
Class     Class 10
Age             16
Gender        Male
Degree         MPC
dtype: object

# Question-4:

In [63]:
import seaborn as sb
tips = sb.load_dataset('tips')
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4